:root {
    --blue: #42bedd;
    --white: #ffffff;
    --black: #000000;
}

* {
    color: var(--font-color);
    font-family: helvetica;
}
body {
    background: var(--bg);
}

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

.button {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--button-font-color);
    background-color: var(--button-bg);
}

.button:focus {
    outline-style: none;
}

.light-theme {
    --bg: var(--white);
    --font-color: var(--black);
    --button-font-color: #ffffff;
    --button-bg: #888888;
}

.dark-theme {
    --bg: var(--black);
    --font-color: var(--white);
    --button-font-color: #000000;
    --button-bg: #888888;
}