body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    background-color: #111111;
    color: white;
}

.nav {
    display: flex;
    flex-direction: row;
    background-color: #222222;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
    font-size: 20px;
}

.nav a:hover {
    background-color: #333333;
}

.nav-left {
    display: flex;
    flex-grow: 1;
    justify-content: left;
}

.nav-middle {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.nav-right {
    display: flex;
    flex-grow: 1;
    justify-content: right;
}

.content {
    display: flex;
    justify-content: center;
}

.column-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    min-width: 700px;
    margin: 10px;
}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #222222;
    border-radius: 10px;
}

.text-container {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
    padding-left: 20px;
}

.preview-image {
    max-width: 200px;
    max-height: 200px;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    box-shadow: -5px 10px 10px 1px #000000;
}

.title-container {
    display: flex;
    text-align: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.label-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: left;
    width: 100%;
}

.label {
    display: flex;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 0;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #333333;
    border-radius: 5px;
    font-size: 16px;
}

.card-title {
    display: flex;
    margin: 0;
    margin-right: 10px;
    font-size: 28px;
    font-weight: 800;
    text-align: left;
}

.description {
    display: flex;
    margin: 0;
    font-size: 18px;
}

.active {
    background-color: #205b9e !important;
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}